node_modules
.pnpm-store
.turbo
dist
build
out
.next
.expo
coverage
*.log
.DS_Store
.env
.env.local
.env.*.local
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.tsbuildinfo
prisma/dev.db
prisma/dev.db-journal
playwright-report
test-results
storybook-static
.cache

# Stray TS->JS build artifacts under package src/ dirs
packages/*/src/**/*.js
